@charset "utf-8";
/* Reset CSS
 * --------------------------------------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
table {
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
strong {
  font-weight: bold;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", "Microsoft YaHei UI", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #ffffff;
}
/*
Concordya Design Element
*/
body {
  padding-top: 68px;
}
.plus {
  font-size: 12px;
  position: relative;
  top: -8px;
  left: -3px;
}
.plus_inlog {
  font-size: 10px;
  left: -4px;
}
.plus_intitle {
  left: -5px;
  top: -12px;
}
.plus_head {
  font-size: 22px;
  left: 0px;
}
.wrap {
  margin: 0 auto;
  width: 960px;
  position: relative;
  height: 100%;
}
.clearfloat {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  overflow: hidden;
}
.wrap:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  overflow: hidden;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  overflow: hidden;
}
/*
click ripple effects
structure: 
<li>
	<a>123
	<span class=ripple_wrap>
		<span class="ripple">
		</span>
	</span>
	</a>
</li>
stylesheet:
li{
	position:relative;
}
*/
.ripple_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}
.ripple {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #00E8FF;
  visibility: hidden;
  opacity: 0.1;
  left: 30%;
  top: 50%;
}
.ripple.clicked {
  width: 150%;
  height: 150%;
  left: -25px;
  top: -10px;
  visibility: visible;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
#top-nav {
  background-color: #2b2f39;
  height: 68px;
  position: fixed;
  top: 0;
  z-index: 70;
  width: 100%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
#top-nav .wrap {
  line-height: 68px;
}
#top-nav .wrap img {
  vertical-align: middle;
}
#top-nav .wrap .logo-words {
  margin-left: 10px;
}
#top-nav .wrap #menu {
  margin: 0 50px;
  display: inline;
}
#top-nav .wrap #menu li {
  position: relative;
}
#top-nav .wrap #menu li:hover {
  background-color: #242731 !important;
}
#top-nav .wrap #menu li .ripple_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}
#top-nav .wrap #menu li .ripple {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #00E8FF;
  visibility: hidden;
  opacity: 0.1;
  left: 30%;
  top: 50%;
}
#top-nav .wrap #menu li .ripple.clicked {
  width: 150%;
  height: 150%;
  left: -25px;
  top: -10px;
  visibility: visible;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
#top-nav .wrap #menu > li {
  height: 65px;
  display: inline-block;
  margin-left: 50px;
  color: #ffffff;
  width: 80px;
  padding: 0 10px;
  text-align: center;
}
#top-nav .wrap #menu > li a {
  color: #ffffff;
}
#top-nav .wrap #menu > li:hover {
  border-bottom: 3px solid #65e5f2;
}
#top-nav .wrap #menu > li:hover .sub {
  visibility: visible;
}
#top-nav .wrap #menu > li > .ripple {
  height: 68px;
}
#top-nav .wrap #menu .sub {
  visibility: hidden;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  width: 100px;
  position: absolute;
  top: 68px;
  left: 0;
}
#top-nav .wrap #menu .sub > li {
  height: 40px;
  line-height: 40px;
  background-color: #2b2f39;
}
#top-nav .wrap #menu .sub:before {
  content: "";
  display: block;
  border: 5px solid;
  border-color: transparent transparent #65e5f2 transparent;
  position: absolute;
  left: 45px;
  top: -13px;
}
#top-nav .wrap #menu .active {
  border-bottom: 3px solid #65e5f2;
}
#top-nav .wrap #menu .active > a {
  color: #65e5f2;
}
#top-nav .wrap .btn {
  border: 1px solid #4ebbc6;
  background-color: transparent;
  color: #4ebbc6;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}
#top-nav .wrap .btn:hover,
#top-nav .wrap .btn.hover {
  color: #eeeeee;
  background-color: #4ebbc6;
}
#top-nav .wrap .btn:hover + .qr_wrap,
#top-nav .wrap .btn.hover + .qr_wrap {
  visibility: visible;
}
#top-nav .wrap .qr_wrap {
  visibility: hidden;
  width: 160px;
  background-color: #ffffff;
  position: absolute;
  right: 6px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  line-height: 32px;
  text-align: center;
  color: #19b8c7;
}
#top-nav .wrap .qr_wrap:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border: 8px solid;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -16px;
  left: 92px;
}
#top-nav .wrap .qr_wrap .qrcode {
  width: 160px;
}
/* 
*
*	Index Page
*
*/
/*
vertical-alignment
*/
.wrap.v_align {
  display: table;
}
.wrap.v_align .block_wrap {
  display: table-cell;
  vertical-align: middle;
}
.wrap.v_align .left_wrap {
  text-align: right;
}
.wrap.v_align .right_wrap {
  text-align: left;
}
.section {
  overflow: hidden;
}
#section0 .slide {
  overflow: hidden;
  background-color: #383c4b;
}
#section0 .slide img {
  position: absolute;
}
/*
since slide has the width for percentage value(like 25% for 4 slides),
we need a wrap element to wrap the current slide width,
in order to easier position style
*/
.slide .wrap {
  margin: 0 auto;
  width: 960px;
  position: relative;
  height: 100%;
  width: 100%;
}
.slide .wrap .vertical-wrap {
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  margin: auto;
}
#slide1 {
  background: url("../src/assets/s1_back.png") no-repeat center right;
}
#slide1 img {
  position: static !important;
}
#slide1 .left_wrap {
  width: 40%;
  padding-right: 50px;
}
#slide1 .right_wrap {
  width: 60%;
}
#slide1 .right_wrap > * {
  display: block;
}
#slide1 .right_wrap .subtitle {
  margin-left: 25px;
  margin-top: 20px;
}
#slide2 {
  background-image: url("../src/assets/s2_cloud.png");
  background-repeat: no-repeat;
  background-position: center right;
}
#slide2 img {
  position: static !important;
}
#slide2 .left_wrap {
  width: 45%;
}
#slide2 .right_wrap {
  width: 55%;
  padding-left: 50px;
}
#slide2 .right_wrap > * {
  display: block;
}
#slide2 .right_wrap .subtitle {
  margin-left: 60px;
  margin-top: 20px;
}
#slide3 {
  background-color: #454a5f !important;
}
#slide3 .bg {
  position: absolute;
}
#slide3 .lt_upper {
  -webkit-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.3);
  background: #61BDC6;
  -webkit-transform: rotate(95deg);
  -ms-transform: rotate(95deg);
  -o-transform: rotate(95deg);
  transform: rotate(95deg);
  left: 0;
  z-index: 1;
}
#slide3 .lt_lower {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  background: #609499;
  -webkit-transform: rotate(76deg);
  -ms-transform: rotate(76deg);
  -o-transform: rotate(76deg);
  transform: rotate(76deg);
  left: -80px;
}
#slide3 .lb_upper {
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.4);
  left: 100px;
  z-index: 999;
  background: url('../src/assets/s3_star_logo.png') no-repeat left 120px top 20px, #383c4b;
}
#slide3 .lb_lower {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  background: #61BDC6;
  -webkit-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.3);
  left: -100px;
}
#slide3 .rb_upper {
  -webkit-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.3);
  background: #61BDC6;
  -webkit-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  transform: rotate(-12deg);
  right: 0px;
  z-index: 1;
}
#slide3 .rb_lower {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  background: #609499;
  -webkit-transform: rotate(66deg);
  -ms-transform: rotate(66deg);
  -o-transform: rotate(66deg);
  transform: rotate(66deg);
  right: 0;
}
#slide3 .rt_upper {
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  transform: rotate(8deg);
  background: #383C4B;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  right: -10px;
  z-index: 100;
  background: url('../src/assets/s3_youth_logo.png') no-repeat left 120px bottom 20px, #383c4b;
}
#slide3 .rt_lower {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  background: #61BDC6;
  -webkit-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.3);
  right: 120px;
}
#slide3 .mask_top {
  background-image: -webkit-linear-gradient(0deg, rgba(39, 42, 54, 0) 64%, rgba(52, 55, 72, 0.9) 100%);
  background-image: -o-linear-gradient(0deg, rgba(39, 42, 54, 0) 64%, rgba(52, 55, 72, 0.9) 100%);
  background-image: linear-gradient(0deg, rgba(39, 42, 54, 0) 64%, rgba(52, 55, 72, 0.9) 100%);
  z-index: 10;
  top: 0;
  width: 100%;
  height: 50%;
}
#slide3 .mask_bottom {
  background-image: -webkit-linear-gradient(rgba(39, 42, 54, 0) 64%, rgba(52, 55, 72, 0.9) 100%);
  background-image: -o-linear-gradient(rgba(39, 42, 54, 0) 64%, rgba(52, 55, 72, 0.9) 100%);
  background-image: linear-gradient(rgba(39, 42, 54, 0) 64%, rgba(52, 55, 72, 0.9) 100%);
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 50%;
}
#slide3 .mask_tl {
  background-image: -webkit-linear-gradient(to top left, rgba(40, 43, 55, 0.05) 87%, rgba(52, 55, 72, 0.9) 100%);
  background-image: -o-linear-gradient(to top left, rgba(40, 43, 55, 0.05) 87%, rgba(52, 55, 72, 0.9) 100%);
  background-image: linear-gradient(to top left, rgba(40, 43, 55, 0.05) 87%, rgba(52, 55, 72, 0.9) 100%);
  z-index: 9;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#slide3 .mask_bl {
  background-image: -webkit-linear-gradient(to bottom left, rgba(40, 43, 55, 0.05) 80%, rgba(52, 55, 72, 0.9) 100%);
  background-image: -o-linear-gradient(to bottom left, rgba(40, 43, 55, 0.05) 80%, rgba(52, 55, 72, 0.9) 100%);
  background-image: linear-gradient(to bottom left, rgba(40, 43, 55, 0.05) 80%, rgba(52, 55, 72, 0.9) 100%);
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 9;
}
#slide3 .mask_br {
  background-image: -webkit-linear-gradient(to bottom right, rgba(39, 42, 54, 0) 82%, rgba(50, 53, 68, 0.53) 90%, rgba(51, 55, 70, 0.6) 100%, #353848 100%);
  background-image: -o-linear-gradient(to bottom right, rgba(39, 42, 54, 0) 82%, rgba(50, 53, 68, 0.53) 90%, rgba(51, 55, 70, 0.6) 100%, #353848 100%);
  background-image: linear-gradient(to bottom right, rgba(39, 42, 54, 0) 82%, rgba(50, 53, 68, 0.53) 90%, rgba(51, 55, 70, 0.6) 100%, #353848 100%);
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 9;
}
#slide3 .guanplus_logo {
  left: 20%;
  -webkit-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  transform: rotate(12deg);
}
#slide3 .news {
  position: absolute;
}
#slide3 .news.star_wrap {
  left: 100px;
  top: 50px;
}
#slide3 .news.youth_wrap {
  left: 100px;
  bottom: 50px;
}
#slide3 .news > * {
  display: block;
}
#slide3 .news a {
  font-size: 20px;
  color: #65e5f2;
  margin-left: 100px;
  margin-top: 20px;
}
#slide3 .news a > * {
  vertical-align: middle;
}
#slide3 .news img {
  position: static !important;
}
#slide4 {
  background-image: url("../src/assets/s4_bg_2x.png");
  background-repeat: no-repeat;
  background-position: left 0 bottom 0 ;
  background-size: 70%;
}
#slide4 .mask {
  opacity: 0.5;
  background-image: radial-gradient(63% 105%, rgba(0, 0, 0, 0.02) 23%, rgba(0, 0, 0, 0.09) 58%, #262932 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
#slide4 .release_wrap {
  text-align: right;
  position: absolute;
  bottom: 40%;
  color: #65e5f2;
  font-size: 30px;
  width: 300px;
}
#slide4 .release_wrap > * {
  display: inline-block;
  vertical-align: middle;
}
#slide4 .release_wrap .release {
  margin-bottom: 20px;
}
#slide4 .release_wrap img {
  position: static !important;
}
#slide4 .release_wrap span {
  cursor: pointer;
}
.odd {
  background-color: #eeeeee;
}
.odd .feature-icon-bg {
  width: 550px;
  height: 550px;
  -webkit-border-radius: 275px;
  -moz-border-radius: 275px;
  -ms-border-radius: 275px;
  -o-border-radius: 275px;
  border-radius: 275px;
  z-index: 0;
  -webkit-transition: 2s all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 2s all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 2s all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
}
.odd .feature-icon-bg.active {
  height: 3000px;
  width: 3000px;
  -webkit-border-radius: 1500px;
  -moz-border-radius: 1500px;
  -ms-border-radius: 1500px;
  -o-border-radius: 1500px;
  border-radius: 1500px;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-circle {
  width: 200px;
  height: 200px;
  top: 175px;
  left: 175px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  background-color: #ffffff;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-1 {
  left: -4.35px;
  bottom: 61.75px;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-2 {
  left: 39.5px;
  top: 55.66666667px;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-3 {
  right: 15.875px;
  top: 36.75px;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-4 {
  right: 21.16666667px;
  bottom: 95.66666667px;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-finger {
  bottom: -21.5px;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-center {
  opacity: 1 !important;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-paw {
  bottom: -61.5px;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-sleeve {
  bottom: -322.5px !important;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-hand {
  bottom: -60.5px !important;
}
.odd .feature-icon-bg.active + .wrap .pic {
  overflow: visible;
}
.odd .feature-icon-bg.active + .wrap .control .feature-icon-1 {
  left: 38.65px;
  bottom: 86.75px;
}
.odd .feature-icon-bg.active + .wrap .control .feature-icon-2 {
  left: 58.65px !important;
  top: 126.75px !important;
}
.odd .feature-icon-bg.active + .wrap .control .feature-icon-3 {
  right: 58.65px !important;
  top: 126.75px !important;
}
.odd .feature-icon-bg.active + .wrap .control .feature-icon-4 {
  top: 393.5px !important;
  right: 63.5px !important;
}
.odd .feature-icon-bg.active + .wrap .control .feature-icon-5 {
  top: 483.5px !important;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-lineChart {
  visibility: visible;
  top: 233.5px;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-histogram {
  top: 193.5px;
  visibility: visible;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-bigPieChart {
  top: 153.5px;
  visibility: visible;
}
.odd .feature-icon-bg.active + .wrap .feature-icon-smallPieChart {
  top: 169.5px;
  visibility: visible;
}
.odd .feature-icon-bg.active + .wrap .intro p {
  font-size: 17.6px;
  line-height: 30px;
}
.odd .feature-icon-bg.active + .wrap .intro h1 {
  font-size: 45.6px;
}
.odd .feature-icon-bg.active + .wrap .intro h2 {
  font-size: 27.6px;
}
.odd .feature-icon-bg.active + .wrap .intro.right_wrap {
  position: relative;
  left: 50px;
}
.odd .feature-icon-bg.active + .wrap .intro.left_wrap {
  position: relative;
  right: 50px;
}
.odd .left_wrap {
  width: 550px;
  padding-right: 35px;
}
.even .feature-icon-bg {
  width: 550px;
  height: 550px;
  -webkit-border-radius: 275px;
  -moz-border-radius: 275px;
  -ms-border-radius: 275px;
  -o-border-radius: 275px;
  border-radius: 275px;
  z-index: 0;
  -webkit-transition: 2s all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 2s all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 2s all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
}
.even .feature-icon-bg.active {
  height: 3000px;
  width: 3000px;
  -webkit-border-radius: 1500px;
  -moz-border-radius: 1500px;
  -ms-border-radius: 1500px;
  -o-border-radius: 1500px;
  border-radius: 1500px;
}
.even .feature-icon-bg.active + .wrap .feature-icon-circle {
  width: 200px;
  height: 200px;
  top: 175px;
  left: 175px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  background-color: #ffffff;
}
.even .feature-icon-bg.active + .wrap .feature-icon-1 {
  left: -4.35px;
  bottom: 61.75px;
}
.even .feature-icon-bg.active + .wrap .feature-icon-2 {
  left: 39.5px;
  top: 55.66666667px;
}
.even .feature-icon-bg.active + .wrap .feature-icon-3 {
  right: 15.875px;
  top: 36.75px;
}
.even .feature-icon-bg.active + .wrap .feature-icon-4 {
  right: 21.16666667px;
  bottom: 95.66666667px;
}
.even .feature-icon-bg.active + .wrap .feature-icon-finger {
  bottom: -21.5px;
}
.even .feature-icon-bg.active + .wrap .feature-icon-center {
  opacity: 1 !important;
}
.even .feature-icon-bg.active + .wrap .feature-icon-paw {
  bottom: -61.5px;
}
.even .feature-icon-bg.active + .wrap .feature-icon-sleeve {
  bottom: -322.5px !important;
}
.even .feature-icon-bg.active + .wrap .feature-icon-hand {
  bottom: -60.5px !important;
}
.even .feature-icon-bg.active + .wrap .pic {
  overflow: visible;
}
.even .feature-icon-bg.active + .wrap .control .feature-icon-1 {
  left: 38.65px;
  bottom: 86.75px;
}
.even .feature-icon-bg.active + .wrap .control .feature-icon-2 {
  left: 58.65px !important;
  top: 126.75px !important;
}
.even .feature-icon-bg.active + .wrap .control .feature-icon-3 {
  right: 58.65px !important;
  top: 126.75px !important;
}
.even .feature-icon-bg.active + .wrap .control .feature-icon-4 {
  top: 393.5px !important;
  right: 63.5px !important;
}
.even .feature-icon-bg.active + .wrap .control .feature-icon-5 {
  top: 483.5px !important;
}
.even .feature-icon-bg.active + .wrap .feature-icon-lineChart {
  visibility: visible;
  top: 233.5px;
}
.even .feature-icon-bg.active + .wrap .feature-icon-histogram {
  top: 193.5px;
  visibility: visible;
}
.even .feature-icon-bg.active + .wrap .feature-icon-bigPieChart {
  top: 153.5px;
  visibility: visible;
}
.even .feature-icon-bg.active + .wrap .feature-icon-smallPieChart {
  top: 169.5px;
  visibility: visible;
}
.even .feature-icon-bg.active + .wrap .intro p {
  font-size: 17.6px;
  line-height: 30px;
}
.even .feature-icon-bg.active + .wrap .intro h1 {
  font-size: 45.6px;
}
.even .feature-icon-bg.active + .wrap .intro h2 {
  font-size: 27.6px;
}
.even .feature-icon-bg.active + .wrap .intro.right_wrap {
  position: relative;
  left: 50px;
}
.even .feature-icon-bg.active + .wrap .intro.left_wrap {
  position: relative;
  right: 50px;
}
.even .right_wrap {
  width: 550px;
  padding-left: 35px;
}
.intro {
  -webkit-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
.intro p {
  margin: 5px 0;
  font-size: 16px;
  color: #444;
  line-height: 25px;
}
.intro h1 {
  font-size: 38px;
  font-weight: bold;
}
.intro h2 {
  font-size: 23px;
  margin-top: 10px;
}
.pic {
  width: 550px;
  height: 550px;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  -webkit-border-radius: 275px;
  -moz-border-radius: 275px;
  -ms-border-radius: 275px;
  -o-border-radius: 275px;
  border-radius: 275px;
  -webkit-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
.pic > * {
  display: block;
  position: absolute;
}
.feature-icon-circle {
  top: 113.5px;
  left: 113.5px;
  width: 323px;
  height: 323px;
  -webkit-border-radius: 161.5px;
  -moz-border-radius: 161.5px;
  -ms-border-radius: 161.5px;
  -o-border-radius: 161.5px;
  border-radius: 161.5px;
  border: 4px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-1 {
  left: 43.5px;
  bottom: 123.5px;
  -webkit-transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-2 {
  left: 118.5px;
  top: 83.5px;
  -webkit-transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-3 {
  right: 63.5px;
  top: 73.5px;
  -webkit-transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-4 {
  right: 63.5px;
  bottom: 143.5px;
  -webkit-transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-finger {
  left: 298px;
  bottom: 198.5px;
  z-index: 10;
  -webkit-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-phone {
  left: 234px;
  bottom: 190.5px;
  z-index: 5;
}
.feature-icon-paw {
  left: 198px;
  bottom: 158.5px;
  -webkit-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-sleeve {
  left: 183px;
  bottom: -102.5px;
  -webkit-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-mouse {
  left: 222px;
  bottom: 208.5px;
  -webkit-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-hand {
  left: 224px;
  bottom: 158.5px;
  -webkit-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 3;
}
.feature-icon-tail {
  left: 244px;
  bottom: 348.5px;
  -webkit-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 4;
}
.feature-icon-center {
  z-index: 8;
  opacity: 0;
  -webkit-transition: 300ms all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 400ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-mac {
  left: 158.5px;
  top: 128.5px;
  -webkit-transition: 300ms all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 400ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-bigPieChart {
  left: 253.5px;
  top: 133.5px;
  z-index: 8;
  visibility: hidden;
  -webkit-transition: 300ms all 100ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 100ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 100ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-smallPieChart {
  left: 183.5px;
  top: 149.5px;
  visibility: hidden;
  z-index: 8;
  -webkit-transition: 300ms all 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 200ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-lineChart {
  left: 173.5px;
  top: 213.5px;
  visibility: hidden;
  z-index: 8;
  -webkit-transition: 300ms all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 300ms cubic-bezier(0.19, 1, 0.22, 1);
}
.feature-icon-histogram {
  left: 323.5px;
  top: 173.5px;
  visibility: hidden;
  z-index: 8;
  -webkit-transition: 300ms all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 400ms cubic-bezier(0.19, 1, 0.22, 1);
}
#feature-suishouji-bg {
  background-color: #65e5f2;
}
#feature-suishoushen-bg {
  background-color: #ffd460;
}
#feature-suishouchu-bg {
  background-color: #FC6353;
}
#feature-suishoukong-bg {
  background-color: #73d1ff;
}
#section1 .feature-icon-center {
  left: 261px;
  bottom: 235.5px;
}
#section2 .feature-icon-center {
  left: 251.5px;
  bottom: 243.5px;
}
#section3 .feature-icon-sleeve {
  left: 234px;
  bottom: -102.5px;
}
#section4 .feature-icon-2 {
  width: 68.23529412px;
  height: 67.64705882px;
  top: 173.5px;
  left: 88.5px;
  z-index: 12;
}
#section4 .feature-icon-4 {
  top: 333.5px;
  right: 93.5px;
}
#section4 .feature-icon-3 {
  top: 213.5px;
  right: 90px;
}
#section4 .feature-icon-5 {
  left: 223.5px;
  top: 383.5px;
  -webkit-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 300ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
/*footer*/
.wrap .vertical-wrap {
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  margin: auto;
}
.footer {
  height: 500px!important;
  padding-top: 0px !important;
}
.footer ul li {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  vertical-align: top;
}
.footer .friends {
  height: 60px;
  background-color: #eeeeee;
  padding-top: 5px;
}
.footer .friends .wrap > * {
  display: inline-block;
  vertical-align: middle;
}
.footer .friends .wrap .head {
  font-size: 20px;
  width: 50px;
  color: #7D7D7D;
  font-weight: bold;
  margin-right: 60px;
}
.footer .friends .wrap li {
  vertical-align: middle;
  margin-right: 45px;
}
.footer .friends .wrap li span {
  display: none;
}
.footer .friends .wrap img {
  height: 22px;
}
.footer .friends .wrap #icon-coffee {
  height: 40px;
}
.footer .friends .wrap #icon-dream {
  height: 50px;
}
.footer .friends .wrap #icon-fangcloud {
  height: 40px;
}
.footer .footer-main {
  height: 450px;
  background-color: #383c4b;
  line-height: 25px;
}
.footer .footer-main a {
  color: #a0a1a4;
}
.footer .footer-main .more {
  color: #a0a1a4;
  font-size: 13px;
  font-weight: normal;
}
.footer .footer-main h1 {
  color: #ffffff;
  font-weight: 700;
}
.footer .footer-main .sitemap {
  float: left;
}
.footer .footer-main .sitemap li {
  margin-right: 40px;
  width: 70px;
}
.footer .footer-main .sitemap .detail {
  display: block;
}
.footer .footer-main .contact li {
  vertical-align: middle;
  margin-right: 20px;
}
.footer .footer-main .other {
  float: right;
}
.footer .footer-main .other .contact span[class^="icon-"] {
  margin-right: 5px;
  font-size: 18px;
}
.footer .footer-main .other .row {
  margin-top: 25px;
}
.footer .footer-main .concordya {
  margin-top: 45px;
  text-align: center;
}
.footer .footer-main .concordya > * {
  vertical-align: middle;
}
.footer .footer-main .concordya .line {
  display: inline-block;
  height: 30px;
  width: 425px;
  border-bottom: 1px solid #a0a1a4;
}
.footer .footer-main .rcinfo {
  margin-top: 45px;
  color: #c9c9c9;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 100;
}
/*
Templates not for Index
*/
.banner {
  box-sizing: border-box;
  width: 100%;
  height: 378px;
  text-align: center;
  padding-top: 150px;
  position: relative;
}
.banner h1 {
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 3px;
  position: relative;
  z-index: 2;
}
.banner .tab {
  height: 50px;
  color: #ffffff;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #2e313c;
  font-size: 16px;
}
.banner .tab li {
  display: inline-block;
  margin: 0 40px;
  vertical-align: center;
  height: 47px;
  line-height: 50px;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
}
.banner .tab li:hover {
  background-color: #242731 !important;
  border-bottom: 3px solid #65e5f2;
}
.banner .tab li.active {
  border-bottom: 3px solid #65e5f2;
}
.tab_content > div {
  display: none;
}
.tab_content > div.active {
  display: block;
}
/* Guidance Page */
.guidance {
  background: url('../src/assets/guidance_bg.png') no-repeat top 70px right;
  background-size: cover;
  background-color: #383c4b;
}
.guidance img {
  width: 333.33333333px;
  height: 44px;
}
.guidance .mask {
  opacity: 0.8;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.guidance-content {
  text-align: center;
}
.guidance-content h1 {
  font-size: 22px;
  color: #323232;
}
.guidance-content h2 {
  font-size: 20px;
  color: #323232;
  margin-bottom: 30px;
}
.guidance-content p {
  font-size: 16px;
  color: #4f4f4f;
}
.guidance-content > div {
  padding: 40px 0;
}
.guidance-content > div p {
  margin-top: 10px;
}
.basic {
  position: relative;
  border-bottom: 1px solid #cccccc;
  height: 601px;
  overflow: hidden;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
}
.basic img {
  position: absolute;
}
.basic .introduction {
  left: 100px;
  top: 120px;
  z-index: 2;
}
.basic .main {
  left: 65px;
  top: 306px;
}
.specs .odd {
  text-align: left;
  padding: 40px 0;
  background-color: #ffffff;
}
.specs .even {
  text-align: right;
  padding: 40px 0;
  background-color: #eeeeee;
}
.tab-s {
  font-size: 0;
  color: #ffffff;
  margin-top: 20px;
}
.tab-s li {
  font-size: 16px;
  display: inline-block;
  background: #383c4b;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-right: 1px solid #2d2d2d;
  cursor: pointer;
  -webkit-transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 500ms all 0ms cubic-bezier(0.19, 1, 0.22, 1);
}
.tab-s li:hover {
  background-color: #4ebbc6;
}
.tab-s li.active {
  background-color: #4ebbc6;
}
.tab-s li:first-child {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.tab-s li:last-child {
  border-right: none;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.tab-content-s {
  margin-top: 30px;
  padding-top: 10px;
}
.tab-content-s > div {
  display: none;
}
.tab-content-s > div.active {
  display: block;
}
#admin .even {
  background-color: #ffffff;
}
#director .odd {
  text-align: center;
}
/*less for bubble*/
/* About-us Page*/
.about-us {
  background: url('../src/assets/about_us_bg.png') no-repeat left top;
  background-size: cover;
  background-color: #383c4b;
}
.about-us .mask {
  opacity: 0.4;
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
#log .timeline {
  width: 2px;
  height: 100%;
  position: absolute;
  background-color: #19b8c7;
  left: 471px;
  left: 470px \9\0;
}
#log .top-round {
  position: relative;
  left: 422px;
  top: -60px;
  z-index: -1;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #19b8c7;
  -webkit-box-shadow: 0px 0px 0px 10px #b6e9ed;
  box-shadow: 0px 0px 0px 10px #b6e9ed;
}
#log ol {
  margin-top: -40px;
  padding: 0 50px;
}
#log ol > li {
  margin-top: 30px;
}
#log ol > li:last-child {
  margin-bottom: 40px;
}
#log ol > li > span {
  display: inline-block;
  vertical-align: middle;
}
#log ol > li > span:first-child {
  text-align: right;
  width: 280px;
  margin-left: 70px;
}
#log ol > li > span:last-child {
  text-align: left;
  width: 270px;
}
#log ol > li > span:nth-child(2) {
  margin: 0 50px;
}
#log ol > li > span ul {
  margin-top: 5px;
  font-size: 14px;
  color: #666666;
}
#log ol > li > span ul > li {
  margin-top: 3px;
}
#log .release {
  color: #024155;
}
#log .time-first > span:first-child {
  color: #09747E;
}
#log .event-first > span:last-child {
  color: #09747E;
}
#log .round span:nth-child(2) {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #19b8c7;
  -webkit-box-shadow: 0px 0px 0px 10px #b6e9ed;
  box-shadow: 0px 0px 0px 10px #b6e9ed;
}
#log .diamond span:nth-child(2) {
  width: 35px;
  height: 35px;
  position: relative;
}
#log .diamond span:nth-child(2) .s-left {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent #19b8c7 transparent transparent;
  left: -2.5px;
  top: 10px;
}
#log .diamond span:nth-child(2) .s-right {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent transparent transparent #19b8c7;
  right: -2.5px;
  top: 10px;
}
#contact {
  color: #474747;
  text-align: center;
}
#contact .emph {
  color: #006D8F;
}
#contact p {
  font-size: 20px;
  margin-bottom: 20px;
}
#contact h1 {
  font-size: 30px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 20px;
}
#contact h2.seate {
  margin-bottom: 0px;
}
#contact h2 {
  color: #696969;
  font-size: 24px;
  font-weight: bold;
}
#contact > div {
  padding: 40px 0;
}
#contact .team {
  text-align: center;
}
#contact .team ul {
  margin-top: 30px;
}
#contact .team ul li {
  font-size: 20px;
  margin: 15px 0;
}
#contact .team p {
  margin-top: 30px;
  font-size: 24px;
}
#contact .member .group {
  margin-bottom: 40px;
}
#contact .member .head {
  display: inline-block;
  width: 140px;
  height: 140px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 35px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  background-image: url("../src/assets/head.png");
  background-size: 95%;
}
#contact .member .last-row {
  margin: 20px;
}
#contact .member .icon-01 {
  background-position: 12px 0px;
}
#contact .member .icon-02 {
  background-position: 12px -170px;
}
#contact .member .icon-03 {
  background-position: 12px -323px;
}
#contact .member .icon-04 {
  background-position: 10px -485px;
}
#contact .member .icon-05 {
  background-position: 12px -655px;
}
#contact .member .icon-06 {
  background-position: 10px -830px;
}
#contact .member .icon-07 {
  background-position: 5px -1007px;
}
#contact .member .icon-08 {
  background-position: 12px -1155px;
}
#contact .member .icon-09 {
  background-position: 15px -1315px;
}
#contact .member .icon-10 {
  background-position: 15px -1490px;
}
#contact .member .icon-11 {
  background-position: 2px -1655px;
}
#contact .member .icon-12 {
  background-position: 10px -1815px;
}
#contact .member .icon-13 {
  background-position: 12px -1985px;
}
#contact .member .icon-14 {
  background-position: 12px -2162px;
}
#contact .member .icon-15 {
  background-position: 5px -2330px;
}
#contact .member .icon-16 {
  background-position: 14px -2490px;
}
#contact .member .icon-17 {
  background-position: 15px -2645px;
}
#contact .join-in .wrap {
  width: 800px;
  text-align: justify;
}
#contact .join-in h2 {
  margin-bottom: 10px;
}
#contact .join-in p {
  line-height: 35px;
  color: #525252;
}
#contact .join-in li {
  margin-bottom: 30px;
}
#contact .welcome ul {
  margin: 30px 0 30px 350px;
  text-align: left;
  font-size: 20px;
}
#contact .welcome ul li {
  margin-top: 10px;
}
#contact .welcome ul a {
  color: inherit;
}
#media ol,
#news ol {
  padding: 40px 0;
}
#media ol li,
#news ol li {
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #cccccc;
}
#media ol li:last-child,
#news ol li:last-child {
  border-bottom: none;
}
#media ol li h1,
#news ol li h1 {
  font-size: 22px;
  color: #000000;
}
#media ol li p,
#news ol li p {
  text-align: justify;
}
#media ol li .time,
#news ol li .time {
  font-size: 15px;
  color: #797979;
}
#media ol li .abstract,
#news ol li .abstract {
  margin-top: 20px;
  font-size: 16px;
  color: #505050;
  line-height: 30px;
}
#media ol li .more,
#news ol li .more {
  margin-top: 20px;
}
#media ol li .more a,
#news ol li .more a {
  color: #006D8F;
}
/*
* Change default CSS
*/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #ffffff !important;
}
@media screen and (min-width: 960px) {
  #slide2 .title {
    width: 335.33333333px;
    height: 69.33333333px;
  }
  #slide2 .subtitle {
    width: 222.85714286px;
    height: 84.28571429px;
  }
  #slide2 .wheel {
    width: 583.84615385px;
    height: 550.76923077px;
  }
  #slide3 .lt_upper {
    top: -250px;
    width: 400px;
    height: 400px;
  }
  #slide3 .lt_lower {
    top: -250px;
    width: 450px;
    height: 450px;
  }
  #slide3 .lb_upper {
    width: 450px;
    height: 420px;
    bottom: -200px;
    background-position: left 70px top 20px;
  }
  #slide3 .lb_lower {
    width: 600px;
    height: 720px;
    bottom: -500px;
  }
  #slide3 .rt_upper {
    width: 450px;
    height: 500px;
    top: -250px;
    background-position: left 70px bottom 20px;
  }
  #slide3 .rt_lower {
    width: 400px;
    height: 400px;
    top: -135px;
  }
  #slide3 .rb_upper {
    width: 400px;
    height: 400px;
    bottom: -355px;
  }
  #slide3 .rb_lower {
    width: 400px;
    height: 400px;
    bottom: -314px;
  }
  #slide3 .news.star_wrap {
    left: 50px;
  }
  #slide3 .news.youth_wrap {
    left: 50px;
  }
  #slide3 .guanplus_logo {
    bottom: 350px;
  }
  #slide3 .guanplus_logo img {
    width: 466.36363636px;
    height: 116.36363636px;
  }
  #slide4 .release_wrap {
    right: 4%;
  }
}
@media screen and (min-width: 1100px) {
  #slide2 {
    background-size: 512.5px 523.33333333px;
  }
  #slide2 .title {
    width: 503px;
    height: 104px;
  }
  #slide2 .subtitle {
    width: 312px;
    height: 118px;
  }
  #slide2 .wheel {
    width: 542.14285714px;
    height: 511.42857143px;
  }
  #slide3 .lt_upper {
    top: -400px;
    width: 500px;
    height: 500px;
  }
  #slide3 .lt_lower {
    top: -400px;
    width: 550px;
    height: 550px;
  }
  #slide3 .lb_upper {
    width: 650px;
    height: 650px;
    bottom: -350px;
    background-position: left 120px top 20px;
  }
  #slide3 .lb_lower {
    width: 780px;
    height: 900px;
    bottom: -700px;
  }
  #slide3 .rb_upper {
    width: 400px;
    height: 400px;
    bottom: -355px;
  }
  #slide3 .rb_lower {
    width: 400px;
    height: 400px;
    bottom: -314px;
  }
  #slide3 .rt_upper {
    width: 550px;
    height: 600px;
    top: -300px;
    background-position: left 120px bottom 20px;
  }
  #slide3 .rt_lower {
    width: 500px;
    height: 500px;
    top: -185px;
  }
  #slide3 .news.star_wrap {
    left: 100px;
  }
  #slide3 .news.youth_wrap {
    left: 100px;
  }
  #slide3 .guanplus_logo {
    bottom: 450px;
  }
  #slide3 .guanplus_logo img {
    width: 513px;
    height: 128px;
  }
  #slide4 .release_wrap {
    right: 10%;
  }
}
@media screen and (min-width: 1320px) {
  #slide2 .wheel {
    width: 660px;
    height: 622.60869565px;
  }
}
@media screen and (min-width: 1400px) {
  #slide3 .lt_upper {
    top: -400px;
    width: 620px;
    height: 620px;
  }
  #slide3 .lt_lower {
    top: -400px;
    width: 650px;
    height: 620px;
  }
  #slide3 .rb_upper {
    width: 500px;
    height: 500px;
    bottom: -355px;
  }
  #slide3 .rb_lower {
    width: 500px;
    height: 500px;
    bottom: -314px;
  }
}
@media screen and (min-width: 1540px) {
  #slide2 .wheel {
    margin-left: 150px;
  }
  #slide3 .lt_upper {
    top: -300px;
    width: 550px;
    height: 550px;
  }
  #slide3 .lt_lower {
    top: -400px;
    width: 650px;
    height: 650px;
  }
  #slide3 .lb_upper {
    width: 650px;
    height: 650px;
    bottom: -350px;
    background-position: left 120px top 20px;
  }
  #slide3 .lb_lower {
    width: 780px;
    height: 900px;
    bottom: -700px;
  }
  #slide3 .rb_upper {
    width: 650px;
    height: 650px;
    bottom: -555px;
  }
  #slide3 .rb_lower {
    width: 650px;
    height: 650px;
    bottom: -514px;
  }
  #slide3 .rt_upper {
    width: 600px;
    height: 650px;
    top: -300px;
    background-position: left 120px bottom 20px;
  }
  #slide3 .rt_lower {
    width: 550px;
    height: 550px;
    top: -185px;
  }
  #slide3 .news.star_wrap {
    left: 100px;
  }
  #slide3 .news.youth_wrap {
    left: 100px;
  }
  #slide3 .guanplus_logo {
    bottom: 450px;
  }
  #slide3 .guanplus_logo img {
    width: 513px;
    height: 128px;
  }
}
@media screen and (min-width: 1850px) {
  #slide3 .lt_upper {
    top: -300px;
    width: 600px;
    height: 600px;
  }
  #slide3 .lt_lower {
    top: -400px;
    width: 700px;
    height: 700px;
  }
  #slide3 .lb_upper {
    width: 750px;
    height: 750px;
    bottom: -350px;
    background-position: left 120px top 20px;
  }
  #slide3 .lb_lower {
    width: 880px;
    height: 1000px;
    bottom: -700px;
  }
  #slide3 .rb_upper {
    width: 700px;
    height: 700px;
    bottom: -555px;
  }
  #slide3 .rb_lower {
    width: 750px;
    height: 750px;
    bottom: -514px;
  }
  #slide3 .rt_upper {
    width: 680px;
    height: 730px;
    top: -300px;
    background-position: left 120px bottom 20px;
  }
  #slide3 .rt_lower {
    width: 620px;
    height: 620px;
    top: -185px;
  }
  #slide3 .news.star_wrap {
    left: 150px;
  }
  #slide3 .news.youth_wrap {
    left: 150px;
  }
  #slide3 .guanplus_logo {
    bottom: 550px;
  }
  #slide3 .guanplus_logo img {
    width: 513px;
    height: 128px;
  }
}
