.icon {
  background-image: url("../images/sprite.png");
}
.icon-01 {
  background-position: -0px -0px;
  width: 213px;
  height: 302px;
}
.icon-02 {
  background-position: -0px -302px;
  width: 193px;
  height: 261px;
}
.icon-03 {
  background-position: -0px -563px;
  width: 220px;
  height: 311px;
}
.icon-04 {
  background-position: -0px -874px;
  width: 220px;
  height: 309px;
}
.icon-05 {
  background-position: -0px -1183px;
  width: 218px;
  height: 306px;
}
.icon-06 {
  background-position: -0px -1489px;
  width: 230px;
  height: 323px;
}
.icon-07 {
  background-position: -0px -1812px;
  width: 154px;
  height: 201px;
}
.icon-08 {
  background-position: -0px -2013px;
  width: 219px;
  height: 292px;
}
.icon-09 {
  background-position: -0px -2305px;
  width: 215px;
  height: 303px;
}
.icon-10 {
  background-position: -0px -2608px;
  width: 227px;
  height: 308px;
}
.icon-11 {
  background-position: -0px -2916px;
  width: 298px;
  height: 394px;
}
.icon-12 {
  background-position: -0px -3310px;
  width: 284px;
  height: 376px;
}
.icon-13 {
  background-position: -0px -3686px;
  width: 215px;
  height: 321px;
}
.icon-14 {
  background-position: -0px -4007px;
  width: 228px;
  height: 321px;
}
.icon-15 {
  background-position: -0px -4328px;
  width: 216px;
  height: 293px;
}
.icon-16 {
  background-position: -0px -4621px;
  width: 292px;
  height: 386px;
}
.icon-17 {
  background-position: -0px -5007px;
  width: 138px;
  height: 178px;
}