<div class="footer-main clearfix">
	<div class="wrap">
		<div class="vertical-wrap">
			<div class="clearfix">
				<ul class="sitemap">
					<li>首页
						<span class="detail more">
						管<span class="plus plus_footer">+</span> 介绍
						<br/>
						随手记
						<br/>
						随手审
						<br/>
						随手出
						<br/>
						随手控
						</span>
					</li>
					<li>用户指南
						<span class="detail more">使用说明</span></li>
					<li>关于我们
						<span class="detail more">
							<a href="about-us.html#_new">新闻发布</a>
							<br/>
							<a href="about-us.html#_media">媒体报道</a>
							<br/>
							<a href="about-us.html#_contact">联系 &amp; 加入</a>
							<br/>
							<a href="about-us.html#_log">管<span class="plus plus_footer">+</span> 志</a>
						</span>
					</li>
				</ul>
				<div class="other">
					<div class="contact">
						<h1>联系我们</h1>
						<ul>
							<li class="more">
								<span class="icon-weibo"></span>
								<a href="http://weibo.com/u/5650285189#1438170904161">微博</a>
							</li>
							<li class="more">
								<span class="icon-mail-alt"></span>
								<a href="mailto:contact@concordya.com">邮箱</a>
							</li>
						</ul>
					</div>
					<div class="cv row">
						<h1>加入我们</h1>
						<span class="more">
							请发送简历至: &nbsp; &nbsp;
							<a href = "mailto:hr@guanplus.com">hr@guanplus.com</a>
						</span>
					</div>
				</div>
			</div>
			<div class="concordya">
				<span class="line"></span>
				<img src="<%= url %>/assets/concordya.png"/>
				<span class="line"></span>
			</div>
			<div class="rcinfo">
				copyright © 有序科技 2014-2015 All Rights Reserved
					<br/>
				京ICP备 15043499号
			</div>
		</div>
	</div>	
</div>