<div id="top-nav">
	<div class="wrap">
		<img class="logo" src="<%= url %>/assets/logo.png" alt="logo"/>
		<img class="logo-words" src="<%= url %>/assets/logo-words.png" alt="logo-words"/>
		<ul id="menu">
			<li>
				<a href="index.html">
				首页
				<span class="ripple_wrap"><span class="ripple"></span></span>
				</a>
			</li>
			<li>
				<a href="guidance.html">
				用户指南
				<span class="ripple_wrap"><span class="ripple"></span></span>
				</a>
			</li>
			<li class="active">
				<a href="about-us.html">
				关于我们
				<span class="ripple_wrap"><span class="ripple"></span></span>
				</a>					
				<ul class="sub">
					<li>
						<a href="about-us.html#_news">新闻发布
						<span class="ripple_wrap"><span class="ripple"></span></span>
						</a>
					</li>
					<li>
						<a href="about-us.html#_media">媒体报道
						<span class="ripple_wrap"><span class="ripple"></span></span>
						</a>
					</li>
					<li>
						<a href="about-us.html#_contact">简介 &amp; 加入
						<span class="ripple_wrap"><span class="ripple"></span></span>
						</a>
					</li>
					<li>
						<a href="about-us.html#_log">管 <span class="plus">+</span> 志
						<span class="ripple_wrap"><span class="ripple"></span></span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
		<a class="btn" id="register" href="https://app.guanplus.com/#/register">注 &nbsp; 册</a>
		<a class="btn" id="login" href="https://app.guanplus.com/#/login">登 &nbsp; 陆</a>
<!-- 		<div class="qr_wrap">
				<img class="qrcode" src="<%= url %>/assets/qrcode.png"/>
				关注并直接给我们留言<br/>我们将及时联系您
		</div> -->
	</div>
</div>